<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OnlinbankSuite">
  <test thread-count="5" name="OnlinebankTest">
    <classes>
      <class name="com.bank.qa.test.Cust_HomePage_Test"/>
      <class name="com.bank.qa.test.Individual_Cust_Deposite_Test"/>
      <class name="com.bank.qa.test.HomePageTest"/>
    </classes>
  </test> <!-- OnlinebankTest -->
</suite> <!-- OnlinbankSuite -->
